{{#if candidate}}
<h2>{{candidate.name}} for President in {{candidate.year}}!</h2>
{{else}}
<h2>That candidate couldn't be found!</h2>
{{/if}}
<h2>Update information</h2>
<form action="/candidates/{{ candidate.name }}?_method=put" method="post">
  <input type="text" name="candidate[name]" value="{{ candidate.name }}">
  <input type="text" name="candidate[year]" value="{{ candidate.year }}">
  <input type="submit" value="update">
</form>

<h2>Remove Candidate</h2>
<form method="post" action="/candidates/{{ candidate.name }}?_method=delete" type="submit">
<button>Remove</button>
</form>